<header id="header">
<!-- start Navigation -->
  <nav class="navbar navbar-default" >
    <div class="container">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'catalog:home-page' %}">TIME NEWS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#          <ul class="nav navbar-nav navbar-right">#}
{#          <li class="dropdown ">#}
{#            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>#}
{#            <ul class="dropdown-menu">#}
{#            <li><a href="index.html">Grid Three</a></li>#}
{#            <li><a href="home-grid-two.html">Grid Two</a></li>#}
{#            <li><a href="home-agency.html">Agency</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <li><a href="about.html">About</a></li>#}
{#          <li><a href="services.html">Services</a></li>#}
{#          <li class="dropdown">#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>#}
{#            <ul class="dropdown-menu">#}
{#            <li><a href="project-grid-two.html">Project Grid Two</a></li>#}
{#            <li><a href="project-grid-three.html">Project Grid Three</a></li>#}
{#            <li><a href="project-single.html">Single project Page</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <li class="dropdown">#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>#}
{#            <ul class="dropdown-menu">#}
{#            <li><a href="blog-with-sidebar.html">Blog Page</a></li>#}
{#            <li><a href="blog-post.html">Single Blog Page</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <li><a href="contact.html">Contact</a></li>#}
{#          </ul>#}
{#        </div><!-- /.navbar-collapse -->#}
      </div>
    </div><!-- /.container-fluid -->
  </nav><!-- end nav -->
</header><!-- end header-->