<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta name="description" content="Clasico - Agency and Portfolio Template">
	<meta name="keywords" content="Clasico, portfolio, wordpress, html, css, theme">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="LegendTheme" content="legendtheme">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block title %}<title>Time News</title>{% endblock %}

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
  {% block header %}
    {% include "includes/header.html" %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block pagination %}{% endblock %}

</body>
</html>
