{% extends "base.html" %}
{% load static %}

{% block title %} Newspaper list {% endblock title %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block content %}
  <br>
  <br>
  <br>
  <br>


    <!-- START Blogs w/ 4 cards w/ image & text & link -->
  <section class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-5">All news:</h3>
        </div>
      </div>

      <div class="row">
        {% for newspaper in newspaper_list %}
          <div class="col-lg-3 col-sm-6">
            <div class="card card-plain card-blog">
              <div class="card-body px-0">
                <h5>
                  <a href="javascript:;" class="text-dark font-weight-bold">{{ newspaper.title }}</a>
                </h5>
                <p>
                  {{ newspaper.content|truncatewords:20 }}
                </p>
                <p>
                  <strong>Redactors:</strong><br>
                  {% for publisher in newspaper.publishers.all %}
                     <em>{{ publisher.first_name }} {{ publisher.last_name }}</em><br>
                  {% endfor %}
                </p>
                <p>
                  <strong>Topic: </strong><em>{{ newspaper.topic }}</em>
                </p>
                <p>
                  <em>{{ newspaper.published_date }}</em>
                </p>
                <a href="javascript:;" class="text-info icon-move-right">Read More
                  <i class="fas fa-arrow-right text-sm"></i>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- END Blogs w/ 4 cards w/ image & text & link -->


{% endblock content %}



{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>#}
{#    Newspaper list#}
{#  </h1>#}
{#  {% include "includes/search_table.html" %}#}
{##}
{#  {% if newspaper_list %}#}
{#    <table class="table">#}
{#      <tr>#}
{#        <th>Title</th>#}
{#        <th>Topic</th>#}
{#        <th>Content</th>#}
{#        <th>Published</th>#}
{#        <th>Detail</th>#}
{#      </tr>#}
{#    {% for newspaper in newspaper_list %}#}
{#      <tr>#}
{#        <td>{{ newspaper.title }}</td>#}
{#        <td>{{ newspaper.topic }}</td>#}
{#        <td>{{ newspaper.content }}</td>#}
{#        <td>{{ newspaper.published_date }}</td>#}
{#        <td><a href="#">Detail</a></td>#}
{#        <td><a href="{% url 'taxi:car-detail' pk=car.id %}">Detail</a></td>#}
{#      </tr>#}
{#    {% endfor %}#}
{#    </table>#}
{#  {% endif %}#}
{#{% endblock %}#}
