{% extends "base.html" %}
{#{% load static %}#}

{% block title %} Redactor list {% endblock title %}

{#{% block body %} class="blog-author bg-gray-100" {% endblock body %}#}

{% block content %}
  <br>
  <br>
  <br>

  <div class="container py-5">
    <div class="row">

      <div class="col-lg-6">
        <h3 class="mb-5">All topics:</h3>
      </div>

      {% if topic_list %}
        {% for topic in topic_list %}
          <div class="alert alert-secondary text-white font-weight-bold" role="alert">
            {{ topic.id }} - {{ topic.name }}
          </div>
        {% endfor %}
      {% else %}
        <p>There are no topic in the service.</p>
      {% endif %}

    </div>
  </div>
{% endblock content %}
